<div class="advert">
  <h1>Want To Advertise With NowHits?</h1>
  <h3>Contact Our Advertising Team On Our Discord:</h3>
  <a href="https://discord.gg/eXbqznH" target="_blank"><i class="fab fa-discord"></i></a>
  <h3>Or Our Twitter!</h3>
  <a href="https://twitter.com/messages/compose?recipient_id=1121003823085031424"
  class="twitter-dm-button" data-screen-name="@NowHitsOfficial" target="_blank"><i class="fab fa-twitter"></i></a>
  <br>
  <br>
</div>
