<br><br><br><br><br><br>
<footer class="footer">
  <p>NowHits&copy 2019, All Rights Reserved. Designed by Ethan.</p>
  <a href="https://twitter.com/NowHitsOfficial"><i class="fab fa-twitter"></i></a>
  <img src="https://forthebadge.com/images/badges/for-you.svg"></img>
  <a href="https://discord.gg/eXbqznH" target="_blank"><i class="fab fa-discord"></i></a>
</footer>
