<footer class="footer">
  <p>NowHits&copy 2019, All Rights Reserved. Designed by Ethan. <a href="https://discord.gg/eXbqznH" target="_blank"><i class="fab fa-discord"></i></a></p>
  <img src="https://forthebadge.com/images/badges/for-you.svg"></img>
</footer>
