<header>
  <div>NowHits</div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Presenters</li>
      <li>Timetable</li>
      <li>Apply</li>
      <li>Discord</li>
      <li>Panel</li>
    </ul>
  </nav>
</header>