<header class="header">
  <script src="scripts/soontm.js"></script>
  <div class="brand"><h2>NowHits</h2></div>
  <nav class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#" onclick="soontm()">Presenters</a></li>
      <li><a href="#" onclick="soontm()">Timetable</a></li>
      <li><a href="https://discord.gg/eXbqznH">Apply</a></li>
      <li><a href="https://discord.gg/eXbqznH">Discord</a></li>
    </ul>
  </nav>
</header>
<br>
