<header class="header">
  <div class="brand">NowHits</div>
  <nav class="nav">
    <ul>
      <li><a>Home</a></li>
      <li><a>Presenters</a></li>
      <li><a>Timetable</a></li>
      <li><a>Apply</a></li>
      <li><a>Discord</a></li>
      <li><a>Panel</a></li>
    </ul>
  </nav>
</header>