<header class="header">
  <div class="brand"><h2>NowHits</h2><h6>Playing the best hits from then 'til now</h6></div>
  <br>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/presenters">Presenters</a></li>
      <li><a href="/timetable">Timetable</a></li>
      <li><a href="https://discord.gg/eXbqznH">Apply</a></li>
      <li><a href="https://discord.gg/eXbqznH">Discord</a></li>
      <li><a>Panel</a></li>
    </ul>
  </nav>
  <br>
</header>
