<div>
  <div>
    <img alt='Artist art'>
    <div>
      On air: Ethan<br>
      Up next: AJS Show<br>
      Currently playing: Marquee Marquee Marquee Marquee Marquee
    </div>
  </div>
  <div>Actual buttons to be placed here.</div>
</div>