<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NowHits</title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}

    <!-- made with resentment by @TwoDecimalZero, @DeveloperKai and @Kognise -->
  </body>
</html>