<div class="emergency">
  <h1>Where's NowHits?</h1>
  <p>We've disabled the page for now, while we deal with an emergency.</p>
  <p>You can still listen to your favourite hits from then 'til now by joining our <a href="https://discord.gg/eXbqznH">Discord</a>.</p>
</div>
{{> discord}}
