<main>
  {{> player}}
  {{> advert}}
  {{> discord}}
</main>
<p>{{now-playing}}</p>
{{> notices}}
{{> countdown}}

{{!-- <h1>Discord users</h1>
<iframe src="https://discordapp.com/widget?id=607583026112888839&theme=dark" width="350" height="300" allowtransparency="true" frameborder="0"></iframe><br />

Current song: <a href="http://radio.nowhits.uk/tunein/nowhitsofficial.pls" class="cc_streaminfo" data-type="song" data-username="nowhitsofficial">Loading ...</a><br />
Stream title: <span class="cc_streaminfo" data-type="title" data-username="nowhitsofficial"></span><br />
Bit rate: <span class="cc_streaminfo" data-type="bitrate" data-username="nowhitsofficial"></span><br />
Current listeners: <span class="cc_streaminfo" data-type="listeners" data-username="nowhitsofficial"></span><br />
Maximum listeners: <span class="cc_streaminfo" data-type="maxlisteners" data-username="nowhitsofficial"></span><br />
Server status: <span class="cc_streaminfo" data-type="server" data-username="nowhitsofficial"></span><br />
AutoDJ status: <span class="cc_streaminfo" data-type="autodj" data-username="nowhitsofficial"></span><br />
Source connected: <span class="cc_streaminfo" data-type="source" data-username="nowhitsofficial"></span><br />
Station time: <span class="cc_streaminfo" data-type="date" data-username="nowhitsofficial"></span> <span class="cc_streaminfo" data-type="time" data-username="nowhitsofficial"></span><br />
Current playlist: <span class="cc_streaminfo" data-type="trackplaylist" data-username="nowhitsofficial"></span><br />
Track details: <span class="cc_streaminfo" data-type="trackartist" data-username="nowhitsofficial"></span> - <span class="cc_streaminfo" data-type="tracktitle" data-username="nowhitsofficial"></span> - <span class="cc_streaminfo" data-type="trackalbum" data-username="nowhitsofficial"></span><br />
Raw metadata: <span class="cc_streaminfo" data-type="rawmeta" data-username="nowhitsofficial"></span><br />
Album image:<br /><img class="cc_streaminfo" data-type="trackimageurl" data-username="nowhitsofficial" /><br /><a href="#" class="cc_streaminfo" data-type="trackbuyurl" data-username="nowhitsofficial">Buy this album</a><br /> --}}
