/*

If you change "main.css" I will come for you, use "main.scss"

To install node-sass use these:
	Get node sass with "npm install -g node-sass"
	"node-sass --watch main.scss main.css" in "public/css"

											----------

People Who Have Done A Bad:
  Kai @ 8/17/19 ~ Breaking the whole damn website
	Ethan @ 8/18/19 ~ Leaking the IP

*/
.emergency {
  float: right;
  position: absolute;
  margin-left: 15%;
  color: #fff;
  width: 100%;
  font-size: 130%;
  text-align: center; }

body {
  background-image: linear-gradient(to right bottom, #0069E8, #00AFEE, #00CDCA, #00E997, #48FF5F);
  font-family: "Josefin Sans", sans-serif;
  color: #444;
  margin: auto;
  overflow-x: hidden; }

.rootplayer {
  margin: 0;
  margin-left: 61%;
  margin-right: 10%;
  width: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ddd; }
  .rootplayer .playerinfo {
    width: 60%;
    float: right;
    border-width: 5px;
    border-style: solid; }
    .rootplayer .playerinfo hr {
      border-style: solid;
      border-width: 3px;
      padding: 0; }

.advert {
  width: 30%;
  margin: 0;
  margin-left: 31%;
  margin-right: 10%;
  position: absolute;
  float: right; }

#pause {
  display: none; }

.brand {
  font-size: 48px;
  margin-top: -40px;
  margin-bottom: -40px;
  text-align: center; }

.fas {
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer; }

#player {
  visibility: hidden; }

#volume {
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s; }

header {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  padding: 3px; }
  header h2 {
    border-radius: 0 0 20px 20px;
    line-height: 0.5; }
  header a {
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    color: #aaa; }
  header a:link {
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    color: #aaa; }
  header a:visited {
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    color: #aaa; }
  header a:hover {
    text-decoration: underline;
    transition-property: color;
    transition-duration: 0.5s;
    color: #555; }
  header a:active {
    text-decoration: underline;
    transition-property: color;
    transition-duration: 0.5s;
    color: #333; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px; }
  ul li {
    display: inline;
    padding: 8px; }

footer {
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 3px;
  text-align: center; }

.discord {
  height: 500px;
  margin: 3px; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }
