/*

If you change "main.css" I will come for you, use "main.scss"

To install node-sass use these:
	Get node sass with "npm install -g node-sass"
	"node-sass --watch main.scss main.css" in "public/css"

											----------

People Who Have Done A Bad:
  Kai @ 8/17/19 ~ Breaking the whole damn website
	Ethan @ 8/18/19 ~ Leaking the IP

*/

// Placeholders

$main-font: 'Josefin Sans', sans-serif;
$background-1: linear-gradient(to right, #F12711, #F5AF19); // Orange.
$background-2: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #F9F871); // Magenta.
$background-3: linear-gradient(to right bottom, #FF5D5D, #DD5185, #A75799, #6C5A94, #2F4858); // Orange.
$background-4: linear-gradient(to right bottom, #0069E8, #00AFEE, #00CDCA, #00E997, #48FF5F); // Blue.
$background-5: linear-gradient(to right bottom, #6C5A94, #4C3949, #915665, #D27C6A, #F9F871); // Twilight.
$background-lua: linear-gradient(to left bottom, #FF0000, #002983, #0C8300, #4D314D, #B3B82A); // Count From One Nerd

body {
	background-image: $background-1;
	font-family: $main-font;
	color: #fff;
	margin: auto;
	overflow-x: hidden;
	user-select: none;
}

.rootplayer {
	margin: 0;
	color: #000;
	margin-left: 1%;
	margin-right: 10%;
	width: 70%;
	height: 100px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	box-shadow: 0 0 10px #ddd;
	overflow: visible;
	img {
   border:2px solid rgba(255, 255, 255, 0.8);
	}
	.playerinfo {
		width: 70%;
		float: right;
		font-size: 120%;
	}
	.playercontrols {
		left: 130px;
		top: 30%;
		position: absolute;
	}
}

.picture {
	border-radius: 50%;
}

.advert {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	box-shadow: 0 0 10px #ddd;
	color: #000;
	width: 30%;
	margin: 0;
	margin-left: 39%;
	margin-right: 10%;
	position: absolute;
	float: right;
	text-align: center;
	.fab {
		margin: 0;
	}
	a {
		text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:link {
	  text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:visited {
		text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:hover {
	  text-decoration: underline;
		transition-property: color;
		transition-duration: 0.5s;
		color: #555;
	}

	a:active {
	  text-decoration: underline;
		transition-property: color;
		transition-duration: 0.5s;
		color: #333;
	}
}

#pause {
	display: none;
}

.brand {
	font-size: 48px;
	margin-top: -40px;
	margin-bottom: -40px;
	text-align: center;
	float: left;
}

.fas, .fab {
	font-size: 40px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer;
}

#player {
	visibility: hidden;
	position: absolute;
}

#volume {
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

header {
	background-color: rgba(255, 255, 255, 0.85);
	color: #000;
	padding-bottom: 100px;
	vertical-align: middle;
	h2 {
		vertical-align: middle;
	}

	a {
		text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:link {
	  text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:visited {
		text-decoration: none;
		transition-property: color;
		transition-duration: 0.5s;
		color: #aaa;
	}

	a:hover {
	  text-decoration: underline;
		transition-property: color;
		transition-duration: 0.5s;
		color: #555;
	}

	a:active {
	  text-decoration: underline;
		transition-property: color;
		transition-duration: 0.5s;
		color: #333;
	}
	ul {
		float: right;
		font-size: 200%;
		position: absolute;
		line-height: 300%;
		right: 0;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	li {
		display: inline;
		padding: 20px;
	}
}

footer {
	font-size: 20px;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 3px;
	text-align: center;
}

.discord {
	height: 500px;
	margin-left: 75%;
}


// Scrollbar

// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #888;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
